<!DOCTYPE html>
<html lang="zh-TW">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>立翰的簡介</title>
	<style type="text/css">
		* { font-family:"標楷體"; margin-left:auto; margin-right:auto;}
		h1 {color:blue; font-size:80px;}
		h2 {color:black; font-size:65px;}
		h3 {color:green; font-size:70px;}
	</style>
	</head>
<body>
	<table width="70%">
	 <tr>
	    <td>   
			<h1>信成資訊有限公司</h1>
			<h2 >工作內容
				 1.協助ICT資通基礎設施相關管理 

				 2.單一簽入帳號系統管理 

                 3.協助機關內部資通安全管理 

				 4.電子郵件系統管理 (Mail Service) 

				 5.協助文件整理、彙總 

     		     6.機關與主管交辦工作</h2>
     		<h3>對這份工作有興趣的原因
     			
     		    錢多事少離家近，年終獎金吸引人</h3>    
        </td>
    </tr>
   </table>    
</body>
</html>   